<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="de-DE" />
    <title>Mapbender &raquo; Hinweise zur Nutzung {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {% block css %}
      <link rel="stylesheet" href="{{ asset('bundles/stadtbundle/normalize.css') }}" media="all">
      <link rel="stylesheet" href="{{ asset('bundles/stadtbundle/help.css') }}" media="all">
      <link rel="stylesheet" href="{{ asset('bundles/stadtbundle/help-print.css') }}" media="print">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}

    {% block js %}
    {% endblock %}
  </body>
</html>
