<h1>Abfrage Verkehrsbelastung</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/info.png') }}" alt="Informationsabfrageschaltfläche" title="Informationsabfrageschaltfläche"/>
<p>Mit Hilfe dieser Funktion k&ouml;nnen Informationen &uuml;ber die Verkehrswege eingeholt werden. Wurde die Funktion per einmaligen Mausklick aktiviert, kann ein beliebiges Segment der Verkehrswege in der Karte angeklickt werden. Es &ouml;ffnet sich ein Dialogfenster mit verschiedenen Informationen &uuml;ber die Verkehrswege.<br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/info_fenster.png') }}" alt="Informationsabfrage Fenster" title="Informationsabfrage Fenster"/><br><br>
Die Segmente der Verkehrswege werden ab einem Ma&szlig;stab von 1:50000 und kleiner durch schwarze Querlinien abgegrenzt.<br><br>
<img class="bildschirm" src="{{ asset('bundles/mapbenderhelp/images/segmente.png') }}" alt="Die Segmente der Verkehrswege" title="Die Segmente der Verkehrswege"/>
</p>