<h1>Adresssuche</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/adress_suche.png') }}" alt="adress_suche" title="Adresssuche"/>
<p>
Neben der Möglichkeit einer <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'werkzeugleiste', 'page': 'schlagwortsuche'}) }}">Schlagwortsuche</a> im Header gibt es die Möglichkeit einer Adressuche. 
Diese befindet sich in der Sidepane. Unter dem Reiter 'Suche' kann man die Suche auswählen und starten. 
</p><br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/adress_suche_2.png') }}" alt="adress_suche_2" title="Adresssuche Ergebnisse"/>
<p><br><br>
Im ersten Schritt muss die Straße angegeben werden. Die Adresssuche arbeitet mit einer Autovervollständigung, d.h. nachdem mindestens drei Buchstaben eingetippt wurden werden alle Straßen vorgeschlagen, die diese drei Buchstaben in ihrer Reihenfolge beinhalten. Nach Eingabe der Straße muss die Suche mit einem Klick auf den Button gestartet werden. Eine Ergebnisliste mit allen Adressen wird ausgegeben aus der man die gesuchte Adresse auswählen kann. Neben der Straße kann zudem noch eine Hausnummer angegeben werden, um die Ergebnisse zu verfeinern.
</p><br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/adress_suche_auswahl.png') }}" alt="suche_point" title="Suche Treffer"/>
<br>
<p>
Mit einem Klick auf die gewünschte Adresse springt die Karte zu dieser und ein kleiner blauer Kreis markiert das Suchergebnis. 
</p><br><br>