<h1>Bereiche sperren (Admin)</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/bereich_sperren.png') }}" alt="bereich_sperren" title="Bereich sperren"/>
<p>Bei dem Werkzeug Bereich sperren kann man bestimmte Bereiche entweder sperren, damit diese nicht mehr in der <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'werkzeugleiste', 'page': 'suche'}) }}">Suche</a> erscheinen oder vorher gesetzte Sperrungen aufheben.<br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/bereich_auswählen.png') }}" alt="bereich_auswählen" title="Bereich auswählen"/><br><br>
Auf der linke Seite wird dazu durch der Landkreis und die Gemarkung des Bereichs eingegeben. Danach kann man durch eine Markierung des Flurstücks und klicken der Buttons einzelne Fluren sperren oder Sperrungen aufheben. <br><br>
<img class="bildschirm" src="{{ asset('bundles/mapbenderhelp/images/sperrung_aufheben.png') }}" alt="sperrung_aufheben" title="Sperrung aufheben"/><br><br>
Rechts werden alle Sperrungen dann in einer Liste angezeigt. Durck anwählen der Kästchen in der ersten Spalte kann man auch mehrere Sperrungen aufheben. 
</p>