<h1>Copyright</h1>

<h3>Technische Umsetzung Karten-Viewer</h3>
<ul>
<li><a href="http://www.wheregroup.com" title="Link Wheregroub-Webseite" target="_blank">WhereGroup GmbH & Co. KG</a></li>
<li>mit <a href="http://mapbender3.org" title="Link zur Mapbender-Webseite" target="_blank">Mapbender3</a></li>
</ul>
<p>
Mehr Informationen zu den Kontaktpersonen finden sich unter dem Reiter 
<a  href="{{ path('mapbender_help_subcategory', {'category': 'Kontakt', 'subcategory': 'Kontakt','page': 'Kontakt'}) }}">Kontakt</a>

</p>
