<h1>Copyright-Hinweis</h1>
<img class="copyright" src="{{ asset('bundles/mapbenderhelp/images/copyright.png') }}" title="Koordinatenanzeige" alt="Koordinatenanzeige"/>
<p>Im rechten Bereich der Fu&szlig;leiste findet sich ein Copyright-Hinweis. Bei einem Klick mit der linken Maustaste auf den Copyright-Hinweis &ouml;ffnet sich ein Dialogfenster mit n&auml;heren Informationen.</p><br><br>
