<h1>Drucken</h1>
<br>
<img src="{{ asset('bundles/mapbenderhelp/images/print.png') }}" alt="print" title="Druck-Button"/>
<p>
Die Druckfunktion finden Sie in der Werkzeugleisteleiste über dem Kartenfenster. Nach dem Aktivieren erscheint in der Karte ein Druckrahmen, der anzeigt, wie groß der Druck wird, und an welcher Stelle er in der Karte platziert ist. Diesen Druckrahmen kann man ganz einfach anklicken und mit der gedrückt gehaltenen Maus an einen beliebigen Platz verschieben.  
</p><br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/print_dialog.png') }}" alt="print_dialog" title="Druck-Dialog"/>
<p>Im Druckfenster können Sie aus verschiedenen Vorlagen die gewünschte Größe im Hoch- oder Querformat auswählen. 
</p><br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/featureinfo_dialog.png') }}" alt="featureinfo_dialog" title="Informationsdialog"/>
<br><br>
<p>
Als Nächstes geben Sie die Auflösung an. Zur Wahl steht eine geringe Auflösung mit 72 dpi oder eine hohe Auflösung mit 288 dpi. Bitte beachten Sie, dass sich durch die Auflösung die Dateigröße der entstehenden PDF-Datei ändert. Der Maßstab kann über eine Auswahlliste ausgewählt werden.
<br>
Es gibt zudem zwei Felder, in die Kommentare als freier Text eingegeben werden können. Allerdings sollte der Text pro Zeile nicht länger als 25 Zeichen sein, damit dieser im Druckrahmen auch vollständig dargestellt werden kann. Bestätigt man alle Eingaben im Druckfenster über den Drucken-Button wird der Druck als PDF-Dokument generiert. Dieses Dokument können Sie beliebig ausdrucken oder speichern.
<br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/druck_quer.png') }}" alt="druck_quer" title="Druckbeispiel A4 Querformat"/
<br><br>
Der Druck enthält standardmäßig einen Druckrahmen, in dem zusätzliche Informationen wie das Datum oder der Kartenmaßstab mit abgegeben sind. 
<br>
Außerdem befinden sich unterhalb des Kartenrahmens noch Quellenangaben und rechtliche Hinweise zur Nutzung des Ausdrucks, die bitte beachtet werden sollten. 
</p><br><br>