<h1>Geoinformationssystem der Stadt Monheim am Rhein</h1>
<img src="{{ asset('bundles/stadtbundle/image/logo_monheim_klein.jpg') }}" alt="logo" title="Stadt Monheim am Rhein Logo"/>

<p>
Mit einem kostenlosen Internet-Service bietet die Stadt Monheim am Rhein ihren Bürgern einen schnellen und unkomplizierten Zugang zu raumbezogenen Daten. <br>
In dem Geoportal der Stadt finden interessierte Bürger eine Vielzahl an Informationen zu unterschiedlichen Lebenslagen und Fragestellungen. Dies erstreckt sich <br>
von statistischen Daten, über Abfallentsorgung, Nahverkehr, Freizeitmöglichkeiten, Bauleitpläne bis hin zu historischen Karten und Luftbildern. <br>
Das GIS (Geoinformationssystem) der Stadt Monheim am Rhein ist ein browserbasierter Viewer für Bürger und enthält eine Vielzahl an Informationen und Karten.
</p>
