<h1>Fu&szlig;leiste </h1>
<p>
    <img src="{{ asset('bundles/stadtbundle/image/fußleiste.png') }}" alt="Fußleiste" title="Fußleiste "/>
    <div style="clear: both"></div>
    Die Fu&szlig;leiste schlie&szlig;t im unteren Bereich der Benutzeroberfl&auml;che an das <a  href="{{ path('mapbender_help_category', {'category': 'benutzeroberflaeche', 'page': 'Kartenfenster'}) }}">Kartenfenster</a> an.
    <br>
    Hier kann man rechts unterhalb der Übersichtskarte die aktuellen <a  href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'fussleiste', 'page': 'Koordinatenanzeige'}) }}" title="Koordinaten">Koordinaten</a> sehen.</p>
