<h1>Herbeif&uuml;hren der Gesamtansicht</h1>
 
<p>Durch einen Klick mit der linken Maustaste auf dieses Symbol, wird die Gesamtansicht der Karte herbeigef&uuml;hrt.</p>
<h1>Herbeif&uuml;hren der Gesamtansicht</h1>

<p>Durch einen Klick mit der linken Maustaste auf dieses Symbol, wird die Gesamtansicht der Karte herbeigef&uuml;hrt.</p>