<h1>Hintergrund wechseln</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/hintergrundw.png') }}" alt="hintergrundwechsler" title="Hintergrund wechseln-Button"/>
<p>
Die Funktion zum Wechseln des Hintergrundes finden Sie in der Werkzeugleisteleiste über dem Kartenfenster. 
Mit diesem Element kann zwischen vordefinierten Hintergrundkarten gewechselt werden. Über Buttons kann zwischen den Karten gewechselt werden. Es kann dabei immer nur eine Hintergrundkarte aktiv sein. Die derzeit aktive Karte ist weiß hinterlegt. 
</p><br><br>
<p>
Zu jeder Datenquelle kann eine Gruppe definiert werden. Alle Definitionen einer Gruppe, wie z.B. die Luftbilder werden als Dropdown-Liste angezeigt, wobei der Gruppenname als übergeordneter Eintrag erscheint.
</p><br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/hintergrundw_open.png') }}" alt="hintergrundw_open" title="Hintergrund wechseln aus Gruppen"/>
<br><br>
