<h1>Hintergrundkartenauswahl</h1>
<p>Nach Klick auf den Button "Hintergrund" werden alle verf端gbaren Hintergr端nde f端r das Geoportal angezeigt. <br>Folgende sind dabei verf端gbar:</p>
<img class="koordinate" src="{{ asset('bundles/stadtbundle/image/hintergrundkarte.png') }}" title="Hintergrundkartenauswahl" alt="hintergrundkartenauswahl"/></p>
