<h1>Hinweise zur Nutzung</h1>
<p>Die Hinweise zur Nutzung sind als letzter Punkt auf der Steuertafel zu finden. Per Klick mit der linken Maustaste auf die Titelzeile wird die Online-Hilfe angezeigt.</p>