            <h1>Impressum</h1>

            <p>Stadt Wesseling<br>
               Der B&uuml;rgermeister<br>
               Alfons-M&uuml;ller-Platz<br>
               50389 Wesseling</p>

            <p>Telefon: 02236 701-254<br>
               Telefax: 02236 701-406</p>

            <p>E-mail: <a href="mailto:rathaus@wesseling.de">rathaus@wesseling.de</a></p>
            <p>Internet: <a href="http://www.wesseling.de">www.wesseling.de</a></p>  
 
            <p>Die Stadt Wesseling ist eine K&ouml;rperschaft des &ouml;ffentlichen Rechts.<br>
               Sie wird vertreten durch den B&uuml;rgermeister Erwin Esser.</p>

            <p>Presserechtlich verantwortlich und vertretungsberechtigt<br>
               gem. &#167; 6 Mediendienste-Staatsvertrag:<br>
               B&uuml;rgermeister Erwin Esser</p>

            <p>Redaktion:<br>
               Pressesprecher Peter Adolf<br>
               E-mail: <a href="mailto:padolf@wesseling.de">padolf@wesseling.de</a></p>

            <p>Pflege:<br>
               Christina Linden</p>

            <p>Technische Realisierung:<br>
               WhereGroup GmbH & Co. KG<br>
               Eifelstra&szlig;e 7<br>
               53119 Bonn<br>
               Telefon: 49 228 9090380<br>
               E-mail: <a href="mailto:info@wheregroup.com">info@wheregroup.com</a><br>
               Internet: <a href="http://www.wheregroup.com">www.wheregroup.com</a></p>

            <p class="red">Datenschutzhinweis:<br>
Die bei unserem Server-Provider PCE-NET GmbH protokollierten Webserverstatistiken werden im allgemein &uuml;blichen CLF-Format (common logfile Format) gespeichert. Darin enthalten sind:</p>

<ul>         
<li class="red">die IP-Adresse des Nutzers</li>
<li class="red">Datum und Uhrzeit des Zugriffs</li>
<li class="red">die Daten auf die zugegriffen wurde</li>
<li class="red">Verweildauer, Fehlzugriffe oder andere Fehlermeldungen</li>
<li class="red">und &uuml;bertragene Daten(mengen).</li>
</ul>


            <p class="red">Die Statistikdaten werden monatlich geschnitten und gespeichert. Die Vorhaltezeit der gespeicherten Statistiken liegt bei 3 Monaten. Die Speicherung der Daten erfolgt ausschlie&szlig;lich aus Sicherheitsgr&uuml;nden, statistischen und technischen Gr&uuml;nden z.B. auch um St&ouml;rungen zu erkennen. Eine Weitergabe an Dritte findet nicht statt. Personenbezogene Nutzerprofile werden nicht erstellt.</p>

            <p class="red">Diese Seite verwendet keine Cookies die l&auml;ngerfristig auf dem Rechner abgelegt werden. Ebenso wenig werden andere Techniken verwendet, die dazu dienen, das Zugriffsverhalten der Nutzer nachvollziehen zu k&ouml;nnen.</p>

            <p>Hinweise zur elektronischen Kommunikation:</p>

            <h3><p>E-Mail</p></h3>

            <p>Bitte beachten Sie, dass die Kommunikation &uuml;ber E-Mail nicht verschl&uuml;sselt ist.
Aus technischen und organisatorischen Gr&uuml;nden k&ouml;nnen z. Z. noch keine verschl&uuml;sselten E-Mails bearbeitet werden.
Falls Sie uns vertrauliche Informationen senden wollen, bitten wir Sie, hierzu die Briefpost zu verwenden.</p>

            <h3><p>Elektronische Signatur</p></h3>

            <p>Aus technischen und organisatorischen Gr&uuml;nden k&ouml;nnen z.Z. noch keine elektronischen Signaturen auf Echtheit und G&uuml;ltigkeit gepr&uuml;ft werden. Dies hat zur Folge, dass Sie Dokumente, die einem Schriftformerfordernis unterliegen, nicht in elektronischer Form &uuml;bersenden k&ouml;nnen. Wir bitten Sie deshalb, in diesen F&auml;llen auf die papiergebundene Kommunikation auszuweichen.</p>

            <h3><p>Dateiformate</p></h3>
            <p>M&ouml;chten Sie E-Mails mit Dateianh&auml;ngen an die Stadtverwaltung versenden, so beachten Sie bitte, dass nur folgende Dateiformate verarbeitet werden k&ouml;nnen:</p>
<ul>
<li>Adobe Acrobat (.pdf)</li>
<li>Rich Text Format (.rft)</li>
<li>Microsoft Word (.doc)</li>
<li>Microsoft Excel (.xls)</li>
<li>Grafikformate .bmp, .tif, .jpg, .gif</li>
</ul>
            <p>Verwenden Sie abweichende Dateiformate, so kann die Mail nicht bearbeitet werden.</p>

            <p>Haftungsausschluss:<br>

F&uuml;r etwaige Satzfehler sowie f&uuml;r die Aktualit&auml;t, Korrektheit, Vollst&auml;ndigkeit oder Qualit&auml;t der Eintragungen &uuml;bernimmt die Stadt Wesseling keine Gew&auml;hr. Alle Angebote sind freibleibend und unverbindlich. Die Stadt Wesseling beh&auml;lt sich ausdr&uuml;cklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ank&uuml;ndigung zu ver&auml;ndern, zu erg&auml;nzen oder zu l&ouml;schen.</p>

            <p>Internet-Bedingungen:<br>

Das Internet arbeitet als dezentraler Netzwerkverbund mit der Zwischenspeicherung und Weitergabe tempor&auml;rer Daten. Eine Gew&auml;hr f&uuml;r den Ausschluss von Manipulation, von versehentlichem Verf&auml;lschen und Gew&auml;hr f&uuml;r die Verwendung nur aktueller Daten (z.B. alte Version noch im Cache) auf dem Verbindungsweg Anbieter zu Nutzer kann es zur Zeit daher nicht geben. Auf diese systembedingte Einschr&auml;nkung weisen wir daher wie folgt hin: Sie erhalten diese Daten unter den Bedingungen des Internet. F&uuml;r die Richtigkeit der Angaben und die &Uuml;bereinstimmung mit den Ursprungsdaten kann daher keine Gew&auml;hr &uuml;bernommen werden.</p>

            <p>Externe Links:<br>

Mit Urteil vom 12. Mai 1998 hat das LG Hamburg entschieden, dass man durch die Ausbringung eines Links die Inhalte der gelinkten Seite ggf. mit zu verantworten hat. Dies kann, so das LG, nur dadurch verhindert werden, dass man sich ausdr&uuml;cklich von diesen Inhalten distanziert. Wir haben auf unseren Seiten Links zu anderen Seiten im Internet gelegt. F&uuml;r alle diese Links gilt: Wir erkl&auml;ren ausdr&uuml;cklich, dass wir keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten haben. Deshalb distanzieren wir uns hiermit ausdr&uuml;cklich von allen Inhalten aller gelinkten Seiten auf unserer Homepage und machen uns diese Inhalte nicht zu Eigen. Copyright: Das Layout der Homepage, die verwendeten Grafiken und Bilder, sowie die einzelnen Beitr&auml;ge sind urheberrechtlich gesch&uuml;tzt. F&uuml;r die Ver&ouml;ffentlichung - gleich auf welchem Medium - aller Texte und Bilder und sonstiger Inhalte dieser Website bedarf es der schriftlichen oder m&uuml;ndlichen Genehmigung durch die Stadt Wesseling.</p> 

