<h1>Informationsabfrage</h1>
<p>Wenn in der Steuertafel Ebenen ausgewählt wurden, können nach Auswahl des Informationstools durch Klick auf die entsprechende Ebene <br>genauere Informationen über diese in einem Ausgabefenster angezeigt werden. Beispielhaft wurde ein Bebauungsplan genauer abgefragt. <br>Zusätzlich ist oftmals ein Download entsprechender Dateien für die lokale Betrachtung in das Portal eingebaut.</p>
<img class="Informationsabfrage" src="{{ asset('bundles/stadtbundle/image/informationstool.png') }}" title="Informationsabfrage" alt="informationstool"/></p>
