<h1>Karte drucken</h1>
<p>Durch einen Klick auf das Drucker-Symbol wird eine PDF-Datei eines anpassbaren Kartenausschnittes als PDF bereitgestellt. <br> Die Druckereinstellungen umfassen Auswahlmöglichkeiten zum Papierformat, zur Druckqualität, zum Kartenmaßstab und zum Neigungswinkel.</p>
<img class="Drucken" src="{{ asset('bundles/stadtbundle/image/drucken.png') }}" title="Druckeinstellungen" alt="druckeinstellungen"/></p>
