<h1>Karte exportieren</h1>
<p>Nach Auswahl durch einen Klick auf das Kamerasymbol ist auch ein Export der Karte möglich. <br>Es öffnet sich ein neues Fenster, in dem sich der Export bestätigen oder abbrechen lässt. Zusätzlich kann das Bildformat (.png oder .jpg) ausgewählt werden. <br>Nach erfolgreicher Bestätigung des Exports wird eine Bilddatei vom gesamten eingestellten Kartenfenster erstellt.</p>
<img class="Exportieren" src="{{ asset('bundles/stadtbundle/image/bildexport.png') }}" title="Exporteinstellungen" alt="bildexport"/></p>
