<h1>Kartennavigation</h1>
<p>Die Navigationsleiste befindet sich auf der rechten Seite innerhalb des Kartenfensters. Sie dient dazu, zwischen verschiedenen Zoomstufen zu w&auml;hlen.</p>
<br>
<img style="float:left; margin-right: 20px;" src="{{ asset('bundles/stadtbundle/image/zoom.png') }}" alt="Kartennavigation" title="Kartennavigation"/>
<p class="zoom">
<ul>
<br>
  <li>Durch Klicken auf die Pfeilsymbole, kann der Kartenausschnitt in Pfeilrichtung verschoben werden.</li>
  <li>Mit den r&uuml;ckw&auml;rts oder vorw&auml;rts gerichteten Pfeilen kann man in den vorherigen oder aktuellen Ausschnitt wechseln.</li>
  <li>Mit dem Pluslupen-Symbol kann der Kartenausschnitt beliebig gew&auml;hlt werden. Klicken Sie auf die Pluslupe. Halten Sie dann die linke Maustaste gedr&uuml;ckt und ziehen Sie mit der Maus ein Rechteck auf. Der gew&auml;lte Kartenausschnitt wird angezeigt.</li>
  <li>Mit dem Klick auf die Weltkugel wird auf die gesamte Ausdehnung gezoomt.</li>
  <li>Mit dem eckigen Plus-Symbol kann der Kartenausschnitt um eine Zoomstufe vergr&ouml;&szlig;ert werden.</li>
  <li>Durch Klicken auf die Punktsymbole kann direkt zwischen den vorhandenen <!<a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'kartenfenster', 'page': 'zoomwerkzeuge'}) }}">Zoomstufen</a> gewechselt werden. </li>
  <li>Die aktuelle Zoomstufe ist daran zu erkennen, dass das Kreissymbol ausgef&uuml;llt dargestellt wird.</li>
  <li>Mit dem eckige Minus-Symbol kann der Kartenausschnitt um eine Zoomstufe verkleinert werden.</li>
  <br>
  
  <li>Das Zoomen und Verschieben der Karte kann auch direkt mithilfe der Maus innerhalb der Karte erfolgen.</li><br>
  <li>So kann durch Klicken auf die Karte mit der linken Maustaste und Gedr&uuml;ckthalten dieser die Karte in beliebige Richtungen verschoben werden.</li><br>
  <li>Ein Doppelklick mit der linken Maustaste in die Karte bewirkt, dass sich der Kartenausschnitt um eine Zoomstufe vergr&ouml;&szlig;ert, wobei als zentraler Punkt der Punkt, auf den geklickt wurde, gew&auml;hlt wird.</li><br>
  
  <li>H&auml;lt man die Shift-Taste gedr&uuml;ckt, so ist es m&ouml;glich, mit der Maus ein Rechteck in die Karte zu zeichnen. Der Kartenausschnitt wird auf diese Ausdehnung herangezoomt.</li><br>

  <li>Wenn eine Maus mit Mausrad zur Verf&uuml;gung steht, k&ouml;nnen hiermit ebenfalls die Zoomstufe und die Position des Kartenausschnitts ge&auml;ndert werden. Je nachdem, in welche Richtung das Mausrad gedreht wird, wird der Kartenausschnitt entweder vergr&ouml;&szlig;ert oder verkleinert. An der Stelle, an der sich der Mauszeiger beim Drehen des Mausrades befindet, wird der neue Kartenmittelpunkt gew&auml;hlt. </li>

</p>

</ul>
