<h1>Koordinatenanzeige</h1>
<img class="koordinate" src="{{ asset('bundles/stadtbundle/image/fußleiste_xy.png') }}" title="Koordinatenanzeige" alt="Koordinatenanzeige"/>
<p> Die Koordinatenanzeige befindet sich auf der Fu&szlig;leiste der Kartenanwendung. Es werden der X- und der Y-Wert der aktuellen Mausposition angegeben. <br> Beim Fahren mit der Maus &uuml;ber die Karte ver&auml;ndert sich der Wert der Koordinaten dynamisch entsprechend der neuen Position. <br>Darüber hinaus können in der mittleren Auswahlbox unterschiedliche Koordinatensysteme ausgewählt werden. <br>In der rechten Auswahlbox ist schließlich eine Reihe von vordefinierten Maßstäben für das Kartenfenster verfügbar.</p>
