<h1>Logging Export (Admin)</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/logging_export.png') }}" alt="logging_export" title="Logging Export"/>
<p>Bei dem Logging Export werden die Log-Daten eines bestimmten Zeitraums in einer Datei heruntergeladen.
Nötig ist hierbei die Angabe des Datums (von/bis) über den Kalender bzw. manuelle Eingabe, danach kann man den Export als Tabelle herunterladen. </p>
<img src="{{ asset('bundles/mapbenderhelp/images/logging_download.png') }}" alt="logging_download" title="Logging Download">