<h1>Ma&szlig;stabsauswahl</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/massstabsauswahl.png') }}" alt="Ma&szlig;stabswauswahl zugeklappt" title="Ma&szlig;stabswauswahl zugeklappt"/>
<p>In der Werkzeugleiste befindet sich ein Feld, das es erm&ouml;glicht, zwischen den verschiedenen Ma&szlig;stabsstufen zu w&auml;hlen und diese auf den Kartenausschnitt anzuwenden.
Klickt man auf das Pfeilsymbol, welches sich im rechten Bereich des Feldes befindet, so &ouml;ffnet sich eine Liste, die alle vorhandenen Ma&szlig;st&auml;be anzeigt. Durch Klicken auf die gew&uuml;nschte Ma&szlig;stabsgr&ouml;&szlig;e, wird diese ausgew&auml;hlt und angewandt.</p>
<img src="{{ asset('bundles/mapbenderhelp/images/massstab_ausgeklappt.png') }}" alt="Ma&szlig;stabsauswahl aufgeklappt" title="Ma&szlig;stabsauswahl aufgeklappt">