<h1>Ma&szlig;stabsleiste ein- und ausblenden</h1>
<br>
<img src="{{ asset('bundles/mapbenderhelp/images/massstab_ein_aus.png') }}" alt="Ma&szlig;stabsleiste ein-/ausblenden">
<p>Die Funktion, die Ma&szlig;stabsleiste ein- und auszublenden, findet sich in der Werkzeugleiste oberhalb des Kartenfensters. Sie bezieht sich auf die <a href="massstabsleiste.php">Ma&szlig;stabsleiste</a>, die in der unteren rechten Ecke innerhalb des Kartenfensters angezeigt wird. Per Klick auf das zu dieser Funktion geh&ouml;rende Symbol, wird diese Ma&szlig;stabsleiste ausgeblendet und gibt so die Sicht auf den darunterliegenden Kartenausschnitt frei. Durch erneutes Klicken auf das Symbol, wird die Leiste wieder eingeblendet.</p>