<h1>Ma&szlig;stabsleiste</h1>
<br>
<img src="{{ asset('bundles/mapbenderhelp/images/massstabsleiste.png') }}" alt="Massstabsleiste" title="Massstabsleiste"/>
<p>Die Ma&szlig;stabsleiste ist in der rechten unteren Ecke des Kartenfensters zu finden. Sie zeigt den Ma&szlig;stab des aktuellen Kartenausschnittes an. Vergr&ouml;&szlig;ert oder verkleinert sich die Karte, wird dementsprechend auch die Ma&szlig;stabsanzeige dynamisch angepasst.
</p>
