<h1>OGC-Dienste</h1>
<img class="steuertafel" style="float:left; margin-right:20px;" src="{{ asset('bundles/mapbenderhelp/images/ogc_dienste.png') }}" title="Steuertafel / Schaltfläche OGC-Dienste"  alt="Steuertafel / Schaltfläche OGC-Dienste"/>
<p class="steuertafel">Die OGC-Dienste k&ouml;nnen &uuml;ber die Steuertafel auf der linken Seite des Kartenfensters aufgerufen werden. Per Klick mit der linken Maustaste auf die Titelzeile wird diese aufgeklappt und n&auml;here Informationen bzw. Funktionen angezeigt.<br><br>
Es stehen verschiedene WMS- und WFS-Dienste zur Verf&uuml;gung: WMS Isophone, WMS SSW, WMS Ballungsraum und WFS Isophone. Die URL kann kopiert und in einen GIS-Client eingebunden und ggf. bearbeitet werden.  </p>
