<h1>Positionierung</h1>
<p>Mit dem Werkzeug Positionierung kann man ein Flurstück oder eine bestimmte Adresse auf die Mitte des <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'kartenfenster', 'page': 'kartenfenster'}) }}">Kartenausschnitts</a> positionieren.<br><br> 
<img src="{{ asset('bundles/mapbenderhelp/images/positionierung.png') }}" alt="positionierung" title="Positionierung"/><br><br>
Bei der Suchart kann man sich zwischen der Flurstück- oder Adresssuche entscheiden. Nach der Auswahl des Landkreises wird noch die Gemarkung und das Flurstück bzw. die Gemeinde und die Straße ausgewählt. <br> Nach vollständiger Festlegung der Parameter wird die Karte neu positioniert und  das gesuchte Element auf die Kartenmitte zentriert.
</p>
