<h1>Redlining</h1>
<p>Das Redlining-Feature erlaubt das kurzzeitige Hinzufügen von selbst erstellten Daten in das Geoportal. <br>Es wird dabei zwischen folgenden Funktionen unterschieden:<br><br>
1. Punkt einfügen <br>
2. Linie einfügen <br>
3. Polygon einfügen <br>
4. Rechteck einfügen <br>
5. Text einfügen <br><br>
Es gilt: Nach Klick auf das Redlining-Symbol in der Werkzeugleiste erscheint ein neues Fenster, welches die entsprechenden Funktionen über Buttons zur Verfügung stellt. <br>Durch Klick auf den entsprechenden Button wird die entsprechende Redlining-Funktion aktiviert. Per Mausklick kann das Redlining gestartet werden, durch einen Doppelklick wird die ausgewählte Form abgeschlossen. <br>Im Redlining-Fenster wird eine Übersicht der erstellten Funktionen tabellarisch angezeigt. Hier können diese nachträglich bearbeitet, näher betrachtet und gelöscht werden. <br>Wenn Text in die Karte hinzugefügt werden soll, geschieht das auch per Mausklick, nachdem der entsprechende Text in das Textfeld im Redlining-Fenster geschrieben wurde.<br>Das folgende Beispiel zeigt die Möglichkeiten des Redlining-Features:</p><br><br>
<img src="{{ asset('bundles/stadtbundle/image/redlining.png') }}" title="Redlining-Feature" alt="redlining"/>
