<h1>Schlagwortsuche</h1>
<br>
<img src="{{ asset('bundles/mapbenderhelp/images/suche.png') }}" alt="suche" title="Suchfeld Schlagwortsuche"/>
<p>
Neben der Möglichkeit einer <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'ebenenbaum'}) }}">Adresssuche</a> in der Sidepane gibt es die Möglichkeit einer Schlagwortsuche. Diese Einfeldsuche befindet sich rechts oben in der Werkzeugleisteleiste über dem Kartenfenster. Durch die Eingabe eines Schlagworts, wie z.B. einem Straßennamen, werden alle passende Treffer in einer Liste angezeigt. Die Eingabe von weiteren Buchstaben, Zahlen und Wörtern grenzt das gesuchte Ergebniss weiter ein.  
</p><br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/suche_open.png') }}" alt="suche_open" title="Suche Trefferanzeige"/>
<p>
<br><br>
Über einen Klick auf einen Treffereintrag zoomt die Karte zu dem jeweiligen Treffer und markiert diesen über eine rote Stecknadel. 
</p><br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/suche_point.png') }}" alt="suche_point" title="Suche Treffer"/>
<br><br>
