<h1>Standortanzeige</h1>
<p>Wenn Sie das Fadenkreuz anklicken, können Sie ihre eigene Position auf der Karte orten. <br>Dazu ist ihre Erlaubnis nötig. Der Browser wird in einem Pop-Up Fenster nach einer entsprechenden Berechtigung fragen, die Sie bestätigen müssen. <br>Im Anschluss wird Ihre Position auf der Karte markiert.</p>
<img class="Standort" src="{{ asset('bundles/stadtbundle/image/standort.png') }}" title="Standortanzeige" alt="standort"/></p>
