<h1>Starten und Beenden</h1>
<p>Der Stadtplan der Stadt Monheim kann gestartet werden, indem der HTTP-Pfad (URL) in einen Webbrowser, wie z.B. Mozilla Firefox oder Internet Explorer, eingegeben wird.<br> Alternativ startet die Anwendung durch einen Klick auf einen HTTP-Link, der zu dieser Seite f&uuml;hrt. Die Kartenanwendung wird bei beiden Varianten in einem Browserfenster ge&ouml;ffnet. <br>
Es ist eine 

<a href="{{ path('mapbender_help_subcategory', {'category': 'Benutzeroberflaeche', 'subcategory': 'Kartenfenster', 'page': 'Kartenfenster'}) }}">Startansicht</a>

der Karte vordefiniert, die beim &Ouml;ffnen angezeigt wird.<br><br>
Soll die Anwendung wieder beendet werden, kann entweder das Browserfenster geschlossen oder die Seite &uuml;ber die Eingabe eines neuen HTTP-Pfades verlassen werden.</p>
