<h1>L&auml;rmstatistik</h1>
<img class="steuertafel" style="float:left; margin-right: 20px;" src="{{ asset('bundles/mapbenderhelp/images/laermstatistik.png') }}" alt="Steuertafel / Schaltfläche Lärmstatistik" title="Steuertafel / Schaltfläche Lärmstatistik" />
<p class="steuertafel">Die L&auml;rmstatistik kann &uuml;ber die Steuertafel auf der linken Seite des Kartenfensters aufgerufen werden. Per Klick mit der linken Maustaste auf die Titelzeile wird diese aufgeklappt und n&auml;here Informationen bzw. Funktionen angezeigt.<br><br>
Es werden Statistiken f&uuml;r alle sich im angezeigten Kartenausschnitt befindenden Ortschaften zur Auswahl angeboten. Es kann gew&auml;hlt werden zwischen einer Statistik der Ortschaft und einer Statistik des gesamten Ballungsraums.  <br><br>
Klickt man auf eine Statistik, so &ouml;ffnet sich in einem neuen Browserfenster die dazugeh&ouml;rige Statistik in Tabellenformat, wie in der unteren Abbildung zu sehen ist. Es wird Auskunft &uuml;ber die gesch&auml;tzte Anzahl von Menschen und Geb&auml;uden in einem l&auml;rmbelasteten Gebiet gegeben. <br>
Erg&auml;nzt wird die Statistik, zur besseren Orientierung, um eine &Uuml;bersichtskarte, in der der abgefragte Standort markiert ist.</p>
<div style="clear: both"></div>
<img src="{{ asset('bundles/mapbenderhelp/images/statistik.png') }}" title="Die Lärmstatistik für die Gemeinde: Bonn" alt="Die Lärmstatistik für die Gemeinde: Bonn"/>
