<h1>Steuertafel</h1>
<img src="{{ asset('bundles/stadtbundle/image/sidebar_dienste.png') }}" title="WMS-Dienste " alt="sidebar_dienste">
<br>
<p class="steuertafel">Die OGC-Dienste können über die Steuertafel auf der linken Seite des Kartenfensters aufgerufen werden. <br>Per Klick mit der linken Maustaste auf die Titelzeile wird diese aufgeklappt und nähere Informationen bzw. Funktionen werden angezeigt.</p>

<br>
<p><img src="{{ asset('bundles/stadtbundle/image/sidebar_dienste_aufgeklappt.png') }}" title="sichtbare WMS-Dienste" alt="sidebar_dienste_aufgeklappt">
<br><br></p>

<p>
Die Steuertafel l&auml;sst sich durch Klicken auf den Minusknopf, der sich in der Mitte rechts befindet, zur Seite hin ein- und wieder ausklappen, wodurch die Ansicht auf das Kartenfenster vergr&ouml;&szlig;ert werden kann.
<br>
Die im mittleren Tab aufrufbare Legende passt sich während des Auswahlprozesses dynamisch den ausgewählten OGC-Diensten an und gibt Kontextinformationen über diese aus.
<br><br></p>






