<h1>Fl&auml;chen- und Linienmessung</h1>
<img class="messen" src="{{ asset('bundles/stadtbundle/image/messen_buttons.png') }}" alt="Fl&auml;chen-/Linienmessung">
<br>
<p>Wird durch einen Klick mit der linken Maustaste auf das Symbol eine Linienmessung aktiviert, so kann anschlie&szlig;end eine beliebige Linie in die Karte gezeichnet werden, <br>deren Distanz automatisch gemessen wird. Gestartet wird das Zeichnen der Linie durch Klicken in die Karte. Bei erneutem Klicken wird ein Zwischenpunkt registriert und die Distanz gespeichert. <br>Beendet wird die Messung durch Doppelklicken auf den gew&uuml;nschten Endpunkt. Es erscheint ein Fenster, das die Gesamtdistanz und die Distanzen bis zu den aufgenommenen Zwischenpunkten anzeigt.</p>
<br>
<img class="messen2" src="{{ asset('bundles/stadtbundle/image/linie.png') }}" alt="Linienmessung">
<br><br>
<p>Die Messung einer Fl&auml;che funktioniert &auml;hnlich, wie die einer Linie, nur dass ein Polygon gezeichnet wird. Durch einmaliges Klicken auf die Karte, <br>werden die Eckpunkte des Polygons bestimmt. Beendet wird die Messung ebenfalls durch Doppelklicken. <br>Es erscheint ein Fenster, das die gemessene Fl&auml;che in km<sup>2</sup> anzeigt.</p>
<img class="messen2" src="{{ asset('bundles/stadtbundle/image/area_messen.png') }}" alt="Fl&auml;chenmessung">
<br><br>
