<h1>Systemvoraussetzungen</h1>
<strong>Browser:</strong>
<ul>
    <li>Internet Explorer ab Version 10</li>
    <li>Firefox ab Version 3.5</li>
    <li>Safari ab Version 4</li>
</ul>

<strong>Mobile-Browser:</strong>
<ul>
    <li>Safari</li>
    <li>Android</li>
</ul>

<p>Die Darstellung von Bildern und Javascript muss aktiviert sein (Standardeinstellung in den jeweiligen Browsern).</p>