<h1>Treffpunkt vereinbaren</h1>
<p>Mit der Funktion "Treffpunkt vereinbaren" kann ein Standort geteilt werden. Nachdem das Stecknadel-Symbol in der Werkzeugleiste gedrückt wurde, <br>können Sie eine Stecknadel in die Karte setzen. Daraufhin öffnet sich ein Fenster mit den genauen Koordinaten und dem ausgewählten Maßstab. <br>Zusätzlich können Sie eine Mitteilung verschicken, die genauere Informationen zum Treffpunkt mitteilt. Als letzten Schritt können Sie die Stecknadel per E-Mail versenden.</p><br>
<img src="{{ asset('bundles/stadtbundle/image/treffpunkt.png') }}" title="Treffpunkt vereinbaren" alt="treffpunkt"/>
