<h1>Vollbildmodus</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/vollbild.png') }}" alt="Vollbildmodus Schaltfläche" title="Vollbildmodus Schaltfläche" />
<p>Das Symbol, das es erm&ouml;glicht, das Kartenfenster im Vollbildmodus anzuschauen, befindet sich im linken Bereich der Fu&szlig;leiste. Beim Klicken auf das Symbol, wird der aktuelle Kartenausschnitt auf die gesamte Bildschirmgr&ouml;&szlig;e gestreckt. Durch Dr&uuml;cken der Escape-Taste auf der Tastatur, kann wieder zu der urspr&uuml;nglichen Ansicht zur&uuml;ckgekehrt werden.</p>