<h1>Wahl des Referenzsystems</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/referenzsystem.png') }}" alt="Auswahl des Referenzsystems" title="Auswahl des Referenzsystems zugeklappt"/>
<p>In der Werkzeugleiste befindet sich ein Feld, das es erm&ouml;glicht, zwischen den verschiedenen Referenzsystemen zu w&auml;hlen und diese auf den Kartenausschnitt anzuwenden.
Klickt man auf das Pfeilsymbol, welches sich im rechten Bereich des Feldes befindet, so &ouml;ffnet sich eine Liste, die alle vorhandenen Referenzsysteme anzeigt. Durch Klicken auf das gew&uuml;nschte Referenzsystem, wird dieses ausgew&auml;hlt und angewandt.</p>
<img src="{{ asset('bundles/mapbenderhelp/images/ref_ausgeklappt.png') }}" alt="Auswahl des Referenzsystems aufgeklappt" title="Auswahl des Referenzsystems aufgeklappt"/>