<h1>Werkzeugleiste</h1>
<img src="{{ asset('bundles/stadtbundle/image/werkzeugleiste.png') }}" title="Werkzeugleiste" alt="Werkzeugleiste" />
<p>Die Werkzeugleiste befindet sich oberhalb des 
<a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'kartenfenster', 'page': 'Kartenfenster'}) }}">Kartenfensters</a>. Hier finden sich verschiedene Funktionen, die auf die vorhandenen Daten angewendet werden k&ouml;nnen. <br> Die Seitenleiste dokumentiert die Funktionen der Werkzeugleiste von links nach rechts. <br>Die Leiste weist somit die folgenden Funktionen auf: <br><br>
1. Hintergrundkartenauswahl <br>
2. Informationsabfrage <br>
3. Karte drucken <br>
4. Karte exportieren <br>
5. Eigenen Standort markieren <br>
6. Treffpunkt vereinbaren <br>
7. Strecke oder Fläche messen <br>
8. Redlining <br>
<p>











