<h1>Willkommen</h1>
<img class="steuertafel" style="float:left; margin-right: 20px;" src="{{ asset('bundles/mapbenderhelp/images/steuertafel.png') }}" alt="Steuertafel / Schaltfläche Willkommen" title="Steuertafel / Schaltfläche Willkommen" />
<p class="steuertafel">Die Schaltfl&auml;che "Willkommen" ist ein Element der Steuertafel. Hier ist ein Begr&uuml;&szlig;ungstext und eine eine kurze Beschreibung der Kartenapplikation des Eisenbahn-Bundesamtes bzw. des EBA-Viewers zu lesen. Beim Starten der Seite ist diese Schaltfl&auml;che standardm&auml;&szlig;ig aufgeklappt.</p>
