<h1>WMS-Dienste einladen</h1>
<img src="{{ asset('bundles/mapbenderhelp/images/wmsladen_button.png') }}" alt="wmsladen_button" title="WMS-Laden Button"/>
<p>Bei dem Werkzeug WMS Laden kann man zu den vorhandenen Diensten neue WMS-Dienste in die Anwendung einladen. Dazu muss man nur eine URL zu dem gewünschten Dienst ins Feld eingeben und diese laden. Der neue Kartendienst wird nun auch links in der <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'steuertafel', 'page': 'steuertafel'}) }}">Steuertafel</a> angezeigt und kann hier wieder ausgestellt werden. </p>
<img src="{{ asset('bundles/mapbenderhelp/images/wmsladen.png') }}" alt="wmsladen" title="WMS Laden"/>