<h1>&Uuml;bersichtskarte</h1>
<p>In der rechten unteren Ecke des Kartenfensters befindet sich ein Fenster, dass eine &Uuml;bersichtskarte anzeigt. <br> Sie dient zur Orientierung und Navigation in der Karte. Durch einen Klick auf das Minussymbol, das sich in der rechten unteren Ecke der &Uuml;bersichtskarte befindet, <br> kann die &Uuml;bersichtskarte ausgeblendet und durch erneutes Klicken auf das Symbol wieder zum Vorschein gebracht werden.
<br><br>
<img src="{{ asset('bundles/stadtbundle/image/uebersicht.png') }}" alt="Übersichtskarte" title="Übersichtskarte" />
<br><br>
Das Fenster enth&auml;lt eine Miniaturansicht der Karte. Durch ein Rechteck, bzw. bei hoher Zoomstufe durch ein Punktsymbol, wird angezeigt, <br> wo der im Kartenfenster angezeigte Kartenausschnitt in der Gesamtkarte lokalisiert ist. <br>Durch Verschieben dieses Rechtecks mit Hilfe der linken Maustaste wird auch der angezeigte Kartenausschnitt verschoben. </p>
